<template>
    <div>
        <b-nav>
            <b-nav-item active href="home">Home</b-nav-item>
            <b-nav-item active href="reservation">Agendar</b-nav-item>
            <b-nav-item href="vehicle">Veículos</b-nav-item>
            <b-nav-item href="user">Usuários</b-nav-item>
        </b-nav>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
