<template>
    <div class="col-lg-12">
        <b-row>
            <b-col>
                <label>Carro</label>
                <b-form-select v-model="form.vehicle_id"
                               :options="option_carro"
                               @change="getMonth()">
                </b-form-select>
            </b-col>
            <b-col>
                <label>Ano</label>
                <b-form-select v-model="form.ano"
                               :options="option_ano"
                               :disabled="!form.vehicle_id"
                               @change="getMonth()">
                </b-form-select>
            </b-col>
            <b-col>
                <label>Mês</label>
                <b-form-select v-model="form.mes"
                               :options="option_mes"
                               :disabled="!form.ano"
                               @change="getMonth()">
                </b-form-select>
            </b-col>
            <b-col>
                <label>Dia livre</label>
                <b-form-select v-model="form.dia"
                               :options="option_dia"
                               :disabled="!form.mes || option_dia.length<=2">
                </b-form-select>
            </b-col>
            <b-col style="margin-top: 30px;"
                   v-if="this.form.vehicle_id && this.form.ano && this.form.mes && this.form.dia">
                <b-button size="sm"
                          variant="primary"
                          @click="saveForm()">
                    Agendar
                </b-button>
                <b-button size="sm"
                          variant="danger"
                          @click="cancel()">
                    Cancelar
                </b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import barramento from "../barramento";

    export default {
        props: ['id'],
        components: {barramento},
        data() {
            return {
                form: {
                    id: null,
                    user_id: this.id,
                    vehicle_id: null,
                    ano: null,
                    mes: null,
                    dia: null
                },
                option_carro: [
                    {
                        value: null,
                        text: 'Selecione'
                    }
                ],
                option_ano: [
                    {
                        value: null,
                        text: 'Selecione'
                    },
                    {
                        value: '2021',
                        text: '2021'
                    },
                    {
                        value: '2022',
                        text: '2022'
                    }
                ],
                option_mes: [
                    {
                        value: null,
                        text: 'Selecione'
                    },
                    {
                        value: '01',
                        text: 'Janeiro'
                    },
                    {
                        value: '02',
                        text: 'Fevereito'
                    },
                    {
                        value: '03',
                        text: 'Março'
                    },
                    {
                        value: '04',
                        text: 'Abril'
                    },
                    {
                        value: '05',
                        text: 'Maio'
                    },
                    {
                        value: '06',
                        text: 'Junho'
                    },
                    {
                        value: '07',
                        text: 'Julho'
                    },
                    {
                        value: '08',
                        text: 'Agosto'
                    },
                    {
                        value: '09',
                        text: 'Setembro'
                    },
                    {
                        value: '10',
                        text: 'Outubro'
                    },
                    {
                        value: '11',
                        text: 'Novembro'
                    },
                    {
                        value: '12',
                        text: 'Dezembro'
                    }
                ],
                option_dia: [
                    {
                        value: null,
                        text: 'Selecione'
                    },
                ]
            }
        },
        beforeDestroy() {
            barramento.$off('reservation_edit')
        },
        created() {
            barramento.$on('reservation_edit', reservation => {
                this.form.id = reservation.id
                this.form.user_id = reservation.user_id
                this.form.vehicle_id = reservation.vehicle_id

                // --- Separando as datas para colocar no formulario...
                this.form.ano = reservation.reserved_at.substring(0, 4);
                this.form.mes = reservation.reserved_at.substring(5, 7);
                this.form.dia = null
                this.getMonth()
            });
        },
        methods: {
            cancel() {
                this.form.id = null
                this.form.vehicle_id = null
                this.form.ano = null
                this.form.mes = null
                this.form.dia = null
            },
            getMonth() { // --- I seek the days
                if (this.form.vehicle_id && this.form.ano && this.form.mes) {
                    barramento.$emit('spinner', true)
                    this.form.dia = null
                    axios({
                        "method": 'POST',
                        "url": '/api/reservation_api/mes',
                        "data": {
                            form: this.form
                        },
                        "headers": {"content-type": "application/json"}
                    }).then(response => {
                        this.option_dia = response.data
                        barramento.$emit('spinner', false)
                    }, error => {
                        swal('Erro!', "Informação mantida!", "error");
                        barramento.$emit('spinner', false)
                    });
                }
            },
            getD() {
                barramento.$emit('spinner', true)
                axios({ // --- I look for vehicles
                    "method": "GET",
                    "url": "/api/vehicle_api",
                    "headers": {"content-type": "application/json"}
                }).then(
                    response => {
                        var r = response.data
                        for (var i = 0; i < r.length; i++) {
                            this.option_carro.push(
                                {
                                    value: r[i].id,
                                    text: r[i].brand + ' ' + r[i].model
                                }
                            )
                        }
                        barramento.$emit('spinner', false)
                    }
                ).catch(function (error) {
                    console.log(error);
                })
            },
            saveForm() {
                barramento.$emit('spinner', true)

                let url = '/api/reservation_api';
                let metodo = 'POST';

                if (this.form.id) {
                    url = '/api/reservation_api/' + this.form.id;
                    metodo = 'PATCH';
                }

                axios({
                    "method": metodo,
                    "url": url,
                    "data": {
                        form: this.form
                    },
                    "headers": {"content-type": "application/json"}
                }).then(response => {
                    if (response.data.status) {
                        swal('Certo!', "Informação mantida!", "success");
                        this.cancel()
                        barramento.$emit('reservation_get', null)
                    } else {
                        barramento.$emit('spinner', false)
                        swal('Erro!', "Informação mantida!", "error");
                    }
                }, error => {
                    console.log(error)
                    barramento.$emit('spinner', false)
                    swal('Erro!', "Informação mantida!", "error");
                });
            }
        },
        beforeMount() {
            this.getD()
        }
    }
</script>
