<template>
    <div>
        <b-row v-show="mostrar" :class="mostrar ? 'spinnet-backdrop-lucas' : ''">
            <b-col>
                <div class="text-center" style="padding-top: 385px; color: #FFFFFF;">
                    <b-spinner variant="light"
                               label="Text Centered">
                    </b-spinner>
                    Carregando...
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import barramento from "../barramento";

    export default {
        components: {
            barramento
        },
        data() {
            return {
                mostrar: false
            }
        },
        beforeDestroy() {
            barramento.$off('spinner')
        },
        created() {
            barramento.$on('spinner', a => {
                this.mostrar = a
            });
        },
    }
</script>
<style>
    /*.modal-backdrop {
        position: fixed;
        background-color: #000;
    }*/

    .spinnet-backdrop-lucas {
        position: fixed;
        text-align: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.80;
        box-sizing: border-box;
        display: block;
        animation: spin 1s ease-in-out infinite;
        -webkit-box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -webkit-animation: spin 1s ease-in-out;
        z-index: 9999 !important;
    }
</style>
