<template>
    <div class="col-lg-12">
        <b-button size="sm"
                  :variant="!form_at ? 'primary' : 'danger'"
                  @click="newUser">
            {{!form_at ? 'Novo' : 'Cancelar'}}
        </b-button>
        <div v-show="form_at">
            <br>
            <b-row>
                <b-col>
                    <label>Nome:</label>
                    <b-form-input type="text"
                                  maxlength="50"
                                  v-model="form.name">
                    </b-form-input>
                    <b-form-invalid-feedback :state="validateName">
                        Informe um nome valido
                    </b-form-invalid-feedback>
                </b-col>
                <b-col>
                    <label>E-mail:</label>
                    <b-form-input type="text"
                                  maxlength="50"
                                  v-model="form.email">
                    </b-form-input>
                    <b-form-invalid-feedback :state="validateEmail">
                        Informe um e-mail valido
                    </b-form-invalid-feedback>
                </b-col>
            </b-row>
            <br>
            <b-row>
                <b-col>
                    <label>CPF:</label>
                    <b-form-input type="text"
                                  v-mask="'###.###.###-##'"
                                  v-model="form.cpf">
                    </b-form-input>
                    <b-form-invalid-feedback :state="validateCpf">
                        Informe um CPF valido
                    </b-form-invalid-feedback>
                </b-col>
                <b-col>
                    <label>Senha:</label>
                    <b-form-input type="password"
                                  maxlength="50"
                                  v-model="form.password">
                    </b-form-input>
                    <b-form-invalid-feedback :state="validatePassword">
                        Senha tem que ter pelo menos 8 dígitos
                    </b-form-invalid-feedback>
                </b-col>
            </b-row>
            <br>
            <div class="text-right">
                <b-button size="sm"
                          variant="primary"
                          :disabled="save_disabled"
                          @click="saveForm">
                    Salvar
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
    import barramento from "../barramento";

    export default {
        components: {barramento},
        data() {
            return {
                form: {
                    id: null,
                    name: '',
                    email: '',
                    cpf: '',
                    password: ''
                },
                validate: {
                    name: false,
                    email: false,
                    cpf: false,
                    password: false
                },
                form_at: false,
                save_disabled: false
            }
        },
        beforeDestroy() {
            barramento.$off('user_edit')
        },
        created() {
            barramento.$on('user_edit', user => {
                this.form_at = true
                this.form.id = user.id
                this.form.name = user.name
                this.form.email = user.email
                this.form.cpf = user.cpf ? user.cpf : ''
                this.form.password = ''
                this.validateForm()
            });
        },
        computed: {
            validateName() {
                this.validate.name = this.form.name.length >= 3
                this.validateForm()
                return this.validate.name
            },
            validateEmail() {
                if (this.form.email === "" || this.form.email.indexOf('@') === -1 || this.form.email.indexOf('.') === -1) {
                    this.validate.email = false

                } else {
                    this.validate.email = true
                }

                this.validateForm()
                return this.validate.email
            },
            validatePassword() {
                this.validate.password = this.form.password.length >= 8
                this.validateForm()
                return this.validate.password
            },
            validateCpf() {

                var numeros;
                var digitos;
                var soma;
                var i;
                var resultado;
                var digitos_iguais;
                var obj = this;
                var cpf = this.form.cpf;

                cpf = cpf.replace(".", "");
                cpf = cpf.replace("-", "");
                cpf = cpf.replace(".", "");

                digitos_iguais = 1;
                if (cpf.length < 11) {
                    obj.vButtonCpf = false;

                    this.validate.cpf = false
                    this.validateForm()
                    return this.validate.cpf;
                }

                for (i = 0; i < cpf.length - 1; i++)
                    if (cpf.charAt(i) != cpf.charAt(i + 1)) {
                        digitos_iguais = 0;
                        break;
                    }

                if (!digitos_iguais) {
                    numeros = cpf.substring(0, 9);
                    digitos = cpf.substring(9);
                    soma = 0;

                    for (i = 10; i > 1; i--) soma += numeros.charAt(10 - i) * i;
                    resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

                    if (resultado != digitos.charAt(0)) {
                        obj.vButtonCpf = false;
                        this.validate.cpf = false
                        this.validateForm()
                        return this.validate.cpf;
                    }

                    numeros = cpf.substring(0, 10);
                    soma = 0;
                    for (i = 11; i > 1; i--) soma += numeros.charAt(11 - i) * i;
                    resultado = soma % 11 < 2 ? 0 : 11 - (soma % 11);

                    if (resultado != digitos.charAt(1)) {
                        obj.vButtonCpf = false;
                        this.validate.cpf = false
                        this.validateForm()
                        return this.validate.cpf;
                    }
                    this.validate.cpf = true;
                    obj.vButtonCpf = true;
                } else {
                    obj.vButtonCpf = false;
                    this.validate.cpf = false
                    this.validateForm()
                    return this.validate.cpf;
                }

                this.validateForm()
                return this.validate.cpf
            },
        },
        methods: {
            newUser() {
                this.form.id = null
                this.form.name = ''
                this.form.email = ''
                this.form.cpf = ''
                this.form.password = ''
                this.form_at = !this.form_at
                barramento.$emit('user_get', null)
            },
            validateForm() {
                if (this.validate.name && this.validate.email && this.validate.cpf && this.validate.password) {
                    this.save_disabled = false
                } else {
                    this.save_disabled = true
                }
            },
            saveForm() {
                barramento.$emit('spinner', true)

                let url = '/api/user_api';
                let metodo = 'POST';

                if (this.form.id) {
                    url = '/api/user_api/' + this.form.id;
                    metodo = 'PATCH';
                }

                axios({
                    "method": metodo,
                    "url": url,
                    "data": {
                        form: this.form
                    },
                    "headers": {"content-type": "application/json"}
                }).then(response => {
    
                    if (response.data.status) {
                        swal('Certo!', "Salvo com sucesso!", "success");
                        this.newUser()
                        barramento.$emit('user_get', null)
                    } else {
                        barramento.$emit('spinner', false)
                        swal('Erro!', "Informação mantida!", "error");
                    }

                }, error => {
                    console.log(error)
                    barramento.$emit('spinner', false)
                    swal('Erro!', "Informação mantida!", "error");
                });
            }
        }
    }
</script>
