<template>
    <div class="col-lg-12">
        <br>
        <b-table show-empty
                 empty-text="Sem registros para listar"
                 empty-filtered-text="Nenhum registro encontrado"
                 responsive
                 striped
                 :items="items"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filtro"
                 @filtered="onFiltered">
            <template v-slot:cell(actions)="data">
                <b-button  variant="primary btn-sm"
                          @click="edit(data.item, data.item.id)">
                    Editar
                </b-button>
                <b-button :disabled="id == data.item.id" variant="danger btn-sm"
                          @click="deleted(data.item.id)">
                    Deletar
                </b-button>
            </template>
        </b-table>
        <b-pagination align="center"
                      :total-rows="totalRows"
                      :per-page="perPage"
                      v-model="currentPage"
                      size="sm"/>
    </div>
</template>

<script>
    import barramento from "../barramento";

    export default {
        props: ['id'],
        components: {barramento},
        data() {
            return {
                items: [],
                fields: [
                    {key: 'name', label: 'Nome', sortable: true, sortDirection: 'desc'},
                    {key: 'email', label: 'E-mail', sortable: true},
                    {key: 'cpf', label: 'CPF', sortable: true},
                    {key: 'actions', label: 'Actions', class: 'text-center'}
                ],
                filtro: null,
                totalRows: 1,
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15, {value: 100, text: "Show a lot"}],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
            }
        },
        beforeDestroy() {
            barramento.$off('user_get')
        },
        created() {
            barramento.$on('user_get', () => {
                this.getD()
            });
        },
        methods: {
            edit(user, id) {
                barramento.$emit('user_edit', user)
                const index = this.items.findIndex(item => item.id === id)
                if (~index)
                    this.items.splice(index, 1)
            },
            deleted(id) {
                barramento.$emit('spinner', true)
                swal("Deletar", "Você tem certeza de que deseja deletar?", "warning", {
                    buttons: {
                        cancel: "Não",
                        catch: {
                            text: "Sim",
                            value: "catch",
                        },
                    },
                }).then((value) => {
                    switch (value) {
                        case "catch":
                            axios({
                                method: "DELETE",
                                url: "/api/user_api/" + id,
                                headers: {"content-type": "application/json"}
                            }).then(
                                response => {
                                    const index = this.items.findIndex(item => item.id === id)
                                    if (~index)
                                        this.items.splice(index, 1)
                                    this.mostrar = false
                                    swal('Certo!', "Informação mantida!", "success");
                                    barramento.$emit('spinner', false)
                                }
                            ).catch(function (error) {
                                swal("Erro", "Error!", "error");
                                barramento.$emit('spinner', false)
                            })
                            break;
                        default:
                            swal('Certo', "Informação mantida!", "warning");
                            barramento.$emit('spinner', false)
                    }
                });
            },
            onFiltered(filteredItems) { // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            getD() {
                barramento.$emit('spinner', true)
                axios({
                    method: "GET",
                    "url": "/api/user_api",
                    "headers": {"content-type": "application/json"}
                }).then(
                    response => {
                        this.items = response.data
                        this.totalRows = response.data.length
                        barramento.$emit('spinner', false)
                    }
                ).catch(function (error) {
                    console.log(error);
                })
            }
        },
        beforeMount() {
            this.getD()
        }
    }
</script>
