<template>
    <div class="col-lg-12">
        <b-button size="sm"
                  :variant="!form_at ? 'primary' : 'danger'"
                  @click="newVehicle">
            {{!form_at ? 'Novo' : 'Cancelar'}}
        </b-button>
        <div v-show="form_at">
            <br>
            <b-row>
                <b-col>
                    <label>Marca</label>
                    <b-form-input type="text"
                                  maxlength="50"
                                  v-model="form.brand">
                    </b-form-input>
                    <b-form-invalid-feedback :state="validateBrand">
                        Informe a marca do veículo
                    </b-form-invalid-feedback>
                </b-col>
                <b-col>
                    <label>Modelo</label>
                    <b-form-input type="text"
                                  maxlength="50"
                                  v-model="form.model">
                    </b-form-input>
                    <b-form-invalid-feedback :state="validateModel">
                        Informe o modelo
                    </b-form-invalid-feedback>
                </b-col>
            </b-row>
            <br>
            <b-row>
                <b-col>
                    <label>Ano</label>
                    <b-form-select v-model="this.form.year"
                                   :options="options">
                    </b-form-select>
                    <b-form-invalid-feedback :state="validateYear">
                        Selecione o ano correspondente ao veiculo
                    </b-form-invalid-feedback>
                </b-col>
                <b-col>
                    <label>Plava</label>
                    <b-form-input type="text"
                                  maxlength="7"
                                  v-model="form.license_plate">
                    </b-form-input>
                    <b-form-invalid-feedback :state="validateLicensePlate">
                        Informe um nome valido
                    </b-form-invalid-feedback>
                </b-col>
            </b-row>
            <br>
            <div class="text-right">
                <b-button variant="primary"
                          size="sm"
                          :disabled="save_disabled"
                          @click="saveForm">
                    Salvar
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
    import barramento from "../barramento";

    export default {
        data() {
            return {
                form: {
                    id: null,
                    brand: '',
                    model: '',
                    year: '2021',
                    license_plate: ''
                },
                validate: {
                    brand: false,
                    model: false,
                    year: false,
                    license_plate: false
                },
                options: [],
                form_at: false,
                save_disabled: false
            }
        },
        beforeDestroy() {
            barramento.$off('vehicle_edit')
        },
        created() {
            barramento.$on('vehicle_edit', vehicle => {
                this.form_at = true
                this.form.id = vehicle.id
                this.form.brand = vehicle.brand
                this.form.model = vehicle.model
                this.form.year = String(vehicle.year)
                this.form.license_plate = vehicle.license_plate
                this.validateForm()
            });
        },
        computed: {
            validateBrand() {
                this.validate.brand = this.form.brand.length >= 2
                this.validateForm()
                return this.validate.brand
            },
            validateModel() {
                this.validate.model = this.form.model.length >= 2
                this.validateForm()
                return this.validate.model
            },
            validateYear() {
                this.validate.year = this.form.year.length >= 4
                this.validateForm()
                return this.validate.year
            },
            validateLicensePlate() {
                this.validate.license_plate = this.form.license_plate.length >= 6
                this.validateForm()
                return this.validate.license_plate
            },
        },
        methods: {
            newVehicle() {
                this.form.id = null
                this.form.brand = ''
                this.form.model = ''
                this.form.year = '2021'
                this.form.license_plate = ''
                this.form_at = !this.form_at
                barramento.$emit('vehicle_get', null)
            },
            validateForm() {
                if (this.validate.brand && this.validate.model && this.validate.year && this.validate.license_plate) {
                    this.save_disabled = false
                } else {
                    this.save_disabled = true
                }
            },
            saveForm() {
                barramento.$emit('spinner', true)

                let url = '/api/vehicle_api';
                let metodo = 'POST';

                if (this.form.id) {
                    url = '/api/vehicle_api/' + this.form.id;
                    metodo = 'PATCH';
                }

                axios({
                    "method": metodo,
                    "url": url,
                    "data": {
                        form: this.form
                    },
                    "headers": {"content-type": "application/json"}
                }).then(response => {

                    if (response.data.status) {
                        swal('Certo!', "Informação mantida!", "success");
                        this.newVehicle()
                        barramento.$emit('vehicle_get', null)
                    } else {
                        barramento.$emit('spinner', false)
                        swal('Erro!', "Informação mantida!", "error");
                    }

                }, error => {
                    console.log(error)
                    barramento.$emit('spinner', false)
                    swal('Erro!', "Informação mantida!", "error");
                });
            }
        },
        beforeMount() {
            for (var i = 2021; i >= 1919; i--) {
                this.options.push(i)
            }
        }
    }
</script>
